.intro__title {
  color: white;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin: 0 0 40px;
  min-width: 720px;
}

@media screen and (max-width: 767px) {
  .intro__title {
    min-width: 500px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 540px) {
  .intro__title {
    min-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}