.cover__img {
  position: relative;
  background-image: url(../../../images/__cover_baikal.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .cover__img {
    max-width: 100%;
  }
}