.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr 1fr;
  gap: 48px 20px;
  grid-template-areas: 
  "title website"
  "image paragraph"
  "image paragraph";
  margin-top: 80px;
  max-width: 984px;
}