.place {
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(min-content) 1fr 1fr;
  gap: 32px 48px;
  grid-template-areas: 
  "title website"
  "image paragraph"
  "image paragraph";
  width: 948px;
}